@import '../../App.scss';

.BusinessDashPage {
  @include pageCenter(100%);

  h1 {
    @include pageHeader();
  }

  .businessProfile {
    width: 600px;
    border: 2px solid $secondaryColor;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;
    color: $secondaryColor;
    background-color: $accentColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .cardheader {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      i {
        font-size: 50px;

      }
    }

    button {
      width: 100px;
      height: 30px;
      background-color: $accentColor;
      border: 2px solid $secondaryColor;
      color: $secondaryColor;
      border-radius: 5px;

    }

    .cardbody {
      display: flex;


      .descriptionsDiv,
      .managerDiv,
      .addressDiv {
        width: 100%;


      }
    }

    h2 {
      font-size: 50px;
    }

    p {
      color: white
    }
  }

  .adHeader {
    display: flex;
    width: 70%;
    margin: 50px 0px 30px 0px;
    flex-direction: column;
    justify-content: center;

    .plusAndHeader {
      display: flex;
      margin-bottom: 40px;

      a {
        color: $secondaryColor;
      }

      h2 {
        font-size: 30px
      }

    }

    i {
      margin-right: 30px;
      font-size: 35px;
    }

    .AdsHeader {}

    .adContainer {
      background-color: $accentColor;
      border-radius: 15px;
      margin: 50px 0;

      .trash {
        color: $secondaryColor;
        margin: 20px;
      }
    }
  }
}

@media (max-width: 800px) {
  .BusinessDashPage {
    @include pageCenter(100%);

    h1 {
      font-size: 30px;
    }

    .businessProfile {
      width: 90%;
      border: 2px solid $secondaryColor;
      border-radius: 15px;
      padding: 10px;
      margin-bottom: 30px;

      .cardheader {

        width: 100%;
        display: flex;
        flex-direction: column;

        margin-bottom: 40px;
        width: 90%;
      }

      .cardbody {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;




        .descriptionsDiv,
        .managerDiv,
        .addressDiv {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin-bottom: 30px;
        }
      }

    }

    .adHeader {
      display: flex;
      width: 90%;
      justify-content: flex-start;

      a {
        color: $secondaryColor;
      }

      h2 {
        font-size: 20px
      }

      i {
        margin-right: 30px;
        font-size: 25px;
      }
    }
  }

}