@import '../../App.scss';

.landingPageDiv {
  width: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  background: transparent;



  .businessDiv,
  .publicDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    i {
      font-size: 300px;
      color: $secondaryColor
    }

    h1 {
      background-color: transparent;
      border: none;
      font-size: 20px;
      color: $secondaryColor;
      text-align: center;
      margin-top: 20px;
    }

    a:hover i {

      color: $secondaryColor;
      border-radius: 15px;

    }

    a:active i {
      color: white;
      transform: scale(.8);
      border-radius: 100%;
      background-color: $secondaryColor;
      padding: 20px;

    }

  }

  .businessDiv {
    background-color: $accentColor;
    border-right: $secondaryColor solid 2px;
  }

  .publicDiv {
    background-color: $pageBackground;
    border-left: $secondaryColor solid 2px;


    h1 {
      margin-right: 90px;
    }
  }
}


@media (max-width: 800px) {
  .landingPageDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 70px;
    max-width: 100vw;


    .businessDiv,
    .publicDiv {
      width: 100%;
      min-height: 50vh;


      i {
        font-size: 200px;
      }

      h1 {
        width: 100%;
      }


    }

    .publicDiv {
      display: flex;
      flex-direction: column;

      h1 {
        margin-right: 100px;
      }

    }
  }

  .landingPageDiv div:first-child {
    order: 2;
  }

}



@keyframes fish {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(150vw);
  }
}