@import '../../App.scss';


.AdBuilderArticle {
  background-color: $accentColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: $secondaryColor;
  border-radius: 15px;
  height: 100%;
  flex-wrap: wrap;


  .adTitle {}

  button {
    color: $secondaryColor;
    background-color: $accentColor;
    border: 1px $secondaryColor solid;

    width: 100%;
    padding: 1%;
  }

  .bizToggle {
    border-radius: 0 0 15px 15px;
  }

  .AdBuilderDrinkDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }


}

@media (max-width: 800px) {}