@import '../../../App.scss';


.PickDrinksPage {
  @include pageCenter(100%);
  min-height: 100vh;

  .pageHeader {
    @include pageHeader();
  }

  .stepNav {
    @include stepNav();
  }

  .filterDiv {
    margin: 10px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    i {
      font-size: 50px;
      justify-self: center;
      align-self: center;

    }

    .bottles {
      min-width: 20px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;


      img {
        width: 100px;
      }


      h3 {
        display: hidden;
      }
    }

    .bottles:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  input {
    width: 50%;
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    padding: 15px;

  }

  .drinkContainer {
    max-width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    a {
      color: black;
    }

    a:link {
      text-decoration: none;
    }

    a:hover {
      transform: scale(1.03)
    }

    a:active {
      transform: scale(.95);
      text-decoration: none;
      color: black;
    }

    .drink {

      width: 350px;
      height: 150px;
      margin: 15px;
      border-radius: 15px;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 2px solid $secondaryColor;
      background-color: $accentColor;
      color: $secondaryColor;

      img {
        border-radius: 15px;

        width: 40%;
      }


    }
  }
}

@media (max-width: 800px) {
  .PickDrinksPage {
    width: 100%;

    .pageHeader {
      font-size: 30px;
    }

    .stepNav {
      width: 100%;
    }

    .filterDiv {
      width: 100%;
      margin: 0;

    }

    input {
      width: 100%;
    }

    .drinkContainer {

      display: flex;
      flex-direction: column;

      a {
        width: 90%;

        div {
          width: 100%;

          .drink {
            width: 100%;
            height: 100%;
            margin: 10px;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            div {
              width: 100%;

            }

            h3 {
              font-size: 10px;
            }
          }
        }


      }
    }

  }



}