@import '../../App.scss';

.DisplayAd {
  background-color: $accentColor;
  border-radius: 15px;

  h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }

  .drinksDiv {
    background-color: $accentColor;


    button {
      background-color: transparent;
      border: none;
      width: 100%;
      border: 1px solid $secondaryColor;
      animation-name: drinksToggle;
      animation-delay: 2s liner;

      i {
        padding: 10px;
        font-size: 40px;
        color: $secondaryColor;
      }
    }

    .toggleOff {
      display: none;
    }

    .toggleOn {
      display: flex;
      width: 100%;

      div {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .drink {
        display: flex;
        flex-direction: column;
        border: 2px solid $secondaryColor;
        border-radius: 5px;
        width: 300px;
        justify-content: flex-start;
        align-items: center;

        margin: 1%;
        color: $pageBackground;

        div {
          display: flex;
          flex-direction: column;

          h3 {
            margin: 5px;
          }

          p {
            margin: 5px;
            width: 100%;
          }
        }


        img {
          width: 100%;
        }
      }
    }
  }

  .busDiv {
    width: 100%;
    color: white;


    button {
      background-color: transparent;
      border: none;
      width: 100%;
      border: 1px solid $secondaryColor;
      animation-name: drinksToggle;
      border-radius: 0 0 15px 15px;

      i {
        padding: 10px;
        font-size: 40px;
        color: $secondaryColor;
      }
    }

    .busDiv2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .busaddressDiv,
      .busDescriptionDiv {
        margin: 30px;
      }

      .busaddressDiv {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .busDescriptionDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }



    .busToggleOff {
      display: none;
      overflow: hidden;

    }

    .displayButtons {
      display: flex;
      justify-content: space-around;

      button {
        height: 50px;
        background-color: $accentColor;
        border: 2px solid $secondaryColor;

      }
    }
  }


}


@media (max-width: 800px) {}