/* Color Theme Swatches in Hex */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Scheherazade", serif;
}

a {
  text-decoration: none;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #e5e8ee;
}

.DashboardPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e5e8ee;
  width: 100%;
  height: 80%;
  min-height: 100vh;
}

.DashboardPage .pageHeader {
  font-family: "Belleza", sans-serif;
  font-size: 50px;
  margin: 30px;
}

.DashboardPage .filterDiv {
  margin: 10px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.DashboardPage .filterDiv i {
  font-size: 50px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.DashboardPage .filterDiv .bottles {
  min-width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DashboardPage .filterDiv .bottles img {
  width: 100px;
}

.DashboardPage .filterDiv .bottles h3 {
  display: hidden;
}

.DashboardPage .filterDiv .bottles:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.DashboardPage input {
  width: 50%;
  height: 30px;
  font-size: 20px;
  border-radius: 15px;
  padding: 15px;
}

.DashboardPage .drinkContainer {
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.DashboardPage .drinkContainer a {
  color: black;
}

.DashboardPage .drinkContainer a:link {
  text-decoration: none;
}

.DashboardPage .drinkContainer a:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  text-decoration: none;
  color: black;
}

.DashboardPage .drinkContainer .drink {
  width: 350px;
  height: 150px;
  margin: 15px;
  border-radius: 15px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #422b97;
  background-color: #40acff;
}

.DashboardPage .drinkContainer .drink img {
  border-radius: 15px;
  width: 40%;
}

@media (max-width: 800px) {
  .DashboardPage {
    width: 100%;
  }
  .filterDiv {
    min-width: 100%;
  }
  .filterDiv .drinkContainer {
    min-width: 100%;
  }
  .filterDiv .drinkContainer .drink {
    width: 50px;
  }
}
/*# sourceMappingURL=Dashboard.css.map */