@import '../../../App.scss';

.ConfirmAdDiv {
  @include pageCenter(100%);
  color: $secondaryColor;

  h1 {
    @include pageHeader();
    color: $secondaryColor;
  }

  .stepNav {
    @include stepNav();
  }

  .cardAd {
    width: 70%;
  }

  .actionButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    width: 100%;

    button {
      height: 60px;
      border: 2px solid $secondaryColor;
      border-radius: 15px;
      width: 120px;
      background-color: $accentColor;
      color: $secondaryColor;
    }
  }


}

@media (max-width: 800px) {
  .ConfirmAdDiv {
    width: 100%;

    h1 {
      font-size: 30px;
    }

    .stepNav {
      width: 100%;
    }

    .cardAd {
      width: 90%;
    }
  }
}