@import '../../../App.scss';

.ConfirmAdDiv {
  @include pageCenter(100%);
  color: $secondaryColor;

  h1 {
    @include pageHeader();
    color: $secondaryColor;
  }

  .stepNav {
    @include stepNav();
  }

  .cardAd {
    width: 70%;
  }


}

@media (max-width: 800px) {
  .ConfirmAdDiv {
    width: 100%;

    h1 {
      font-size: 30px;
    }

    .stepNav {
      width: 100%;
    }

    .cardAd {
      width: 100%;
    }
  }
}