@import '../../App.scss';


.loginDiv {

  height: 100%;
  width: 100%;

  #background-video {
    position: fixed;
    top: 0px;
    ;
    right: 0;
    width: 100%;


  }

  .overlay {

    position: fixed;
    top: 70px;
    height: 100%;

    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;

    display: flex;
    justify-content: center;
    align-items: center;


    form {
      top: 80;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 40%;
      width: 40%;
      border: 1px solid $secondaryColor;
      border-radius: 15px;
      background: rgba(0, 0, 0, 0.7);

      .loadingImage {
        position: absolute;
        z-index: 0
      }

      label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 15px 0;
        color: $secondaryColor;


        input {
          margin: 0;
          width: 70%;
          height: 30px;
          border-radius: 15px;
          font-size: 20px;
          padding: 5px;

        }


      }


      button {
        color: $secondaryColor;
        background-color: transparent;
        width: 70%;
        margin: 0;
        height: 30px;
        border-radius: 15px;
        border: 2px solid $secondaryColor;
      }



    }


  }

  .registerButton {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 100%;

      display: flex;

      justify-content: center;

      button {
        color: $secondaryColor;
        background-color: transparent;
        border: none;
        width: 50%;
      }
    }



  }
}


@media (max-width: 1126px) {
  .loginDiv {

    min-height: 100vh;

    #background-video {
      position: fixed;
      top: 200px;



      width: 300%;

    }

    .overlay {



      form {
        top: 80;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border: 1px solid $secondaryColor;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.2);

        .loadingImage {
          position: absolute;
          z-index: 0
        }

        label {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 70%;
          margin: 15px 0;
          font-size: 50px;


          input {
            margin: 0;
            width: 90%;
            height: 80px;
            border-radius: 15px;
            font-size: 50px;
            padding: 5px;
            border: 2px solid $secondaryColor;
            margin-top: 50px;

          }


        }

        button {
          width: 40%;
          height: 100px;
          margin-top: 50px;
          font-size: 50px;
          border-radius: 15px;
          border: 2px solid $secondaryColor;
        }

      }

      .registerButton {
        a {
          width: 90%;

          display: flex;

          justify-content: center;

          button {
            color: $secondaryColor;
            background-color: transparent;
            width: 90%;
          }
        }
      }

    }
  }
}