/* Color Theme Swatches in Hex */
$pageBackground: rgb(229, 232, 238);
$secondaryColor: rgb(64, 172, 255);
$accentColor: #2955D9;
$buttonColor: #D99A4E;


//FONTS
$headerFont: 'Roboto Mono',
monospace;
$subHeaderFont: 'Belleza',
sans-serif;
$textFont:'Roboto',
sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $textFont;
}

a {
  text-decoration: none;
}

@mixin stepNav() {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;

  p {
    font-size: 20px;
    margin: 20px;
  }

  a {
    color: $secondaryColor;
  }

  a:active {
    transform: scale(.9)
  }

  i {
    font-size: 40px;

  }
}

/// mixin
@mixin pageCenter ($pagewidth) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: $pageBackground;
  width: $pagewidth;
  height: 80%;
  padding-top: 80px;

}

@mixin pageHeader {
  font-family: $subHeaderFont;
  font-size: 50px;
  margin: 30px;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  background-color: $pageBackground;
}

// refer to mixin with @include flexCenter

// Inheritance - 