@import '../../App.scss';

.navbar {
  width: 100%;
  background-color: $accentColor;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 10px;
  margin-right: 30px;
  position: fixed;
  top: 0;
  border-bottom: 2px solid $secondaryColor;
  z-index: 300;

  .login {
    position: absolute;
    top: 25vh;
    right: 0;
    height: 300px;
    width: 530px;
  }

  .hamburger {
    display: none;

    i {
      font-size: 40px;
    }

  }

  .menuDivMobileOn {
    display: none;
  }

  .menuDivMobileOff {
    display: none;
  }

  .check {
    display: none;
  }

  h1 {
    margin-left: 30px;
    font-family: $headerFont;
    color: $secondaryColor;

  }

  button {
    color: $secondaryColor;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    font-size: 25px;
    height: 100%;
    padding: 20px;
    font-family: $subHeaderFont;

  }
}



@media (max-width: 1126px) {
  .navbar {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;




    h1 {
      font-size: 30px;
    }


    .header {
      h1 {
        font-size: 70px;
      }
    }

    .hamburger {

      font-size: 100px;
      display: block;
      margin-right: 30px;
      animation-name: 'mobile';
      animation-duration: 2s;
      color: $secondaryColor;

      i {
        font-size: 100px;
      }

    }

    .menuDivMobileOff {
      font-size: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 0;
      overflow: hidden;
      align-items: center;
      position: absolute;
      top: 200px;
      width: 100vw;
      background-color: $accentColor;
      border: 2px solid $secondaryColor;
      border-radius: 10px;
      animation: mobileOff .5s linear;
      margin: 0;
      z-index: 9000;

      button {
        width: 100%;
        font-size: 50px;
      }

      a {
        width: 100%;

        button {
          width: 100%;
          font-size: 50px;
        }
      }
    }

    .menuDivMobileOn {

      display: flex;
      height: 25vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 200px;
      width: 100%;
      background-color: $accentColor;
      border: 2px solid $secondaryColor;
      border-radius: 10px;
      animation: mobile .5s linear;
      z-index: 9000;

      button {
        width: 100%;
        font-size: 50px;
      }

      a {
        width: 100%;

        button {
          width: 100%;
          font-size: 50px;
        }
      }
    }

    .menuDiv {
      display: none;
      position: absolute;
      top: 70px;
      width: 100%;
      z-index: 9000;
    }

  }
}


@keyframes mobile {
  from {
    height: 0%;
    overflow: hidden;
  }

  to {

    height: 25vh;
  }
}

@keyframes mobileOff {
  from {
    height: 25vh;
  }

  to {
    height: 0px;
    overflow: hidden;
    display: none
  }
}