/* Color Theme Swatches in Hex */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Scheherazade", serif;
}

a {
  text-decoration: none;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #e5e8ee;
}

.navbar {
  width: 100%;
  background-color: #422b97;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  padding: 10px;
  margin-right: 30px;
}

.navbar .hamburger {
  display: none;
}

.navbar .hamburger i {
  font-size: 40px;
}

.navbar .menuDivMobileOn {
  display: none;
}

.navbar .menuDivMobileOff {
  display: none;
}

.navbar .check {
  display: none;
}

.navbar h1 {
  margin-left: 30px;
  font-family: "Roboto Mono", monospace;
  color: #40acff;
}

.navbar button {
  color: #40acff;
  background-color: transparent;
  border: none;
  margin-right: 30px;
  font-size: 25px;
  height: 100%;
  padding: 20px;
  font-family: "Belleza", sans-serif;
}

@media (max-width: 800px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .hamburger {
    display: block;
    margin-right: 30px;
    -webkit-animation-name: 'mobile';
            animation-name: 'mobile';
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  .navbar .menuDivMobileOff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 0;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 8.5%;
    width: 100%;
    background-color: #422b97;
    border: 2px solid #40acff;
    border-radius: 10px;
    -webkit-animation: mobileOff 1s linear;
            animation: mobileOff 1s linear;
  }
  .navbar .menuDivMobileOn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 8.5%;
    width: 100%;
    background-color: #422b97;
    border: 2px solid #40acff;
    border-radius: 10px;
    -webkit-animation: mobile 1s linear;
            animation: mobile 1s linear;
  }
  .navbar .menuDiv {
    display: none;
  }
}

@-webkit-keyframes mobile {
  from {
    height: 0%;
    overflow: hidden;
  }
  to {
    height: 500px;
  }
}

@keyframes mobile {
  from {
    height: 0%;
    overflow: hidden;
  }
  to {
    height: 500px;
  }
}

@-webkit-keyframes mobileOff {
  from {
    height: 500px;
  }
  to {
    height: 0px;
    overflow: hidden;
    display: none;
  }
}

@keyframes mobileOff {
  from {
    height: 500px;
  }
  to {
    height: 0px;
    overflow: hidden;
    display: none;
  }
}
/*# sourceMappingURL=Nav.css.map */